<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="links">
    <a style="color: blue" href="/auth/profile">Tu perfil</a>
    <a style="color: rgb(223, 22, 139)" href="/">Galeria de fotos</a>
    </div>
    {{{body}}}
  </body>
</html>
