<h1>Welcome {{user.username}}</h1>

<ul>
    <li><a style="color:rgb(195, 0, 0);" href="/auth/logout">Logout</a></li>
    <li><a href="/">Lista de fotos!</a></li>
    <li><a href="/fotos/crear">Crear foto!</a></li>
    <li><a href="/fotos/user">Tus fotos!</a></li>
</ul>
