body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.imgPrincipal {
  width: 150px;
  height: 150px;
}

.listaFotos {
  margin-top: 10px;
  display: flex;
}

.card {
  margin: 10px;
}

